@font-face {
  font-family: "logo";
  src: url(./fonts/RollAccurate-mvrx.ttf);
}
@font-face {
  font-family: "start";
  src: url(./fonts/GamePlayed-vYL7.ttf);
}
* {
  box-sizing: border-box;
  color: black;
  margin: 0;
  padding: 0;
  font-family: monospace;
  background-color: transparent;
  font-size: 1rem;
}
body {
  font-size: calc(8px + 0.5vmin);
}
#heading {
  font-size: 10vmin;
  font-family: "logo";
}
#winner {
  font-size: 120px;
  opacity: 0%;
  transition: opacity ease-out 300ms;
}
#winner.opacity-transition {
  opacity: 100%;
}
label {
  opacity: 95%;
  color: rgb(125, 141, 150);
  font-weight: bold;
  display: flex;
  flex-wrap: wrap;
  width: clamp(120px, 80vw, 250px);
  gap: 12px;
  align-items: center;
  padding: 10px 20px;
  border-radius: 10px;
  background-color: rgb(7, 12, 39);
}
input#username {
  padding: 3px 10px;
  overflow: hidden;
  background-color: rgba(255, 255, 255, 0.445);
  border: none;
}
input::placeholder {
  color: rgba(7, 12, 39, 0.644);
}
h2.instruction {
  color: rgba(205, 215, 221, 0.712);
  max-width: 80%;
  text-align: center;
}
button#start,
button#new-game {
  font-size: calc(8px + 2vmin);
  font-family: "start";
  padding: 10px 50px;
  box-shadow: 0px 0px 10px 3px black;
  border: 8px brown outset;
  background-color: brown;
  margin: 20px;
  color: rgb(205, 215, 221);
}
#content {
  min-height: 100vh;
  background-image: url(./pictures/giphy2.gif);
  background-size: cover;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 20px;
  padding: 20px;
}
.square {
  overflow: visible;
  width: 100%;
  height: 10%;
  display: flex;
  position: relative;
  outline: 1.5px solid black;
}
.ship {
  flex-shrink: 0;
  z-index: 1;
  border: 1.5px solid black;
  box-sizing: border-box;
  background-color: rgb(7, 12, 39);
  height: 100%;
}
.ship.dragging {
  -webkit-user-drag: unset;
}
.draggable {
  cursor: move;
}
#game {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  max-width: 100%;
  gap: 30px;
}
.board {
  opacity: 95%;
  display: flex;
  background-image: url(./pictures/sea-depth-vector-topographic-map-conceptual-user-interface-dark-blue-background_87538-2639.jpg);
  background-size: cover;
  width: calc(100px + 32vmin);
  height: calc(100px + 32vmin);
}
#computer-board {
  cursor: url(./pictures/gun-pointer.png) 16 16, auto;
}
#game > div:has(#computer-board),
#game > div:has(#player-board) {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 10px;
}
#game h1 {
  color: rgb(205, 215, 221);
}
.col {
  display: flex;
  flex-direction: column;
  width: 10%;
  height: 100%;
}
.carrier {
  width: 500%;
}
.battleship {
  width: 400%;
}
.destroyer,
.submarine {
  width: 300%;
}
.patrolboat {
  width: 200%;
}
.miss {
  background-image: url(./pictures/new-moon.png);
  background-size: contain;
  width: 30%;
  height: 30%;
  margin: 35%;
}
.hit {
  position: absolute;
  background-image: url(./pictures/hit.gif);
  background-size: contain;
  width: 80%;
  height: 80%;
  z-index: 2;
  margin: 10%;
}
.burn {
  background-image: url(./pictures/burn.gif);
  position: absolute;
  background-size: contain;
  width: 80%;
  height: 80%;
  z-index: 2;
  margin: 10%;
}
